#flex {
  display: flex;
  flex-direction: column;
}
#sweSplit {
  display: flex;
  flex-direction: row;
}
#sweNav {
  display: flex;
  flex-direction: column;

  background-color: black;
  height: 100vh;
  width: 25vw;
}
#sweViewer {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(178, 178, 178, 1) 0%,
    rgba(168, 193, 192, 1) 32%,
    rgba(128, 255, 247, 1) 100%
  );
  height: 100vh;
  width: 75vw;
}
.navProj {
  width: 25vw;
  height: 10vh;
  background-color: black;
}

#sweNav button {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 1.9vw;
  background-color: black;
  color: white;
  border: none;
}

#sweNav button:hover {
  background-color: #ffaee9;
  color: black;
}
#port {
  margin-top: 7vh;
}
