#block2 {
  display: flex;
  flex-direction: column;
  background-color: white;

  height: 100%;
  width: 40vw;
}
#row1 {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

#row2 {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.icon {
  display: flex;
  height: 3rem;
  width: 3rem;
}
.svg {
  height: 100%;
  width: 100%;
}
