#flex {
  color: white;
  background-color: black;

  height: 100vh;
  width: 100vw;
}
#split {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}
#left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
  margin-left: 3vw;
  margin-top: 3vw;
}
#right {
  display: flex;
  flex-direction: column;
  width: 66vw;
  margin-right: 3vw;
  margin-top: 3vw;
}
#graphic {
}

img {
  width: 25vw;
  margin-bottom: 0;
}
#inlineButton {
  background-color: transparent;
  border: none;
  color: white;
  font-family: "rubik";
  font-weight: normal;
  font-size: 1rem;
  margin-left: 0;
}
#flex h1 {
  background-color: transparent;
  margin: 0;
  font-size: 7.7vw;
  font-family: "Rubik";
  font-weight: bold;
  margin-bottom: 4vh;

  text-decoration: none;
}

#some {
  font-size: 3vw;
  font-family: "Rubik";
  font-weight: bold;
  margin: 0;
}
#me {
  margin-top: 0;
  color: #ffaee9;
  font-size: 3vw;
  font-family: "Rubik";
  font-weight: bold;
}
#aboutContainer {
  margin-top: 3vh;
  margin-right: 7vw;
  font-family: Rubik;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 25vw;
}
